# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 1b9885048b10d0970215eae16efd06e2c6159e9c95827fc0d7831bbc6a530f7c38a4e5126da6995dda84a8458265c2b3392ef224522738256e54d7d9fadfef04

test:
  secret_key_base: f921bb2fd51343a5ba7a936f75f1a1c0b22550c88203549ae3d40afb9c407f1e4a53c91947c5808ea2eff9c5ec7d52b135dc5a6bdffab6354cfb947bb86af196

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
