// Place all the styles related to the Top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.left li{
    list-style:none;
    font-size: 20px;
    display: block;
    float: left;
    word-spacing: 10px;
    margin: 10px;
    padding-left: 25px;
}
.right li{
   list-style: none;
   font-size: 20px;
   display: block;
   float: right;
   margin: 10px;
   padding-right: 25px;
}
